<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-title>Masukkan input</ion-title>
  <ion-input [(ngModel)]="inputangka"></ion-input>
  <ion-button (click)="cek()">Check</ion-button>
  {{state}}
  <ng-container *ngIf='boolean === true'>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let isifoto of fotoservice.dataFoto; index as position">
        <ion-img [src]="isifoto.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
</ion-content>
